

.container{
    width: 375px;
    height: 812px;
    position: relative;
    margin: 0 auto;
    border: 1px solid lightgray;
    border-radius: 12px;
    /* font-family: Arial, Helvetica, sans-serif */
    font-family: Poppins;
    
}

.hero{
    margin-top: 1em;
}

.intro{
    width: 345px;
    height: 153px;
    margin: 3em auto;
    color: #3A4276;
}

.noMovil{
    display:none;
}

.buttons{
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    padding-left: 7em;
    /* font-weight: bold; */
    
}

#register{
    margin-bottom: 3em;
    width: 157px;
    height: 50px;
    background: #BEE16D;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: #3A4276;
    cursor: pointer;
}

#login{
    width: 157px;
    height: 50px;
    border: 3px solid #3A4276;
    background-color: transparent;
    border-radius: 10px;
    font-size: 1em;
    font-weight: bold;
    color: #3A4276;
    cursor: pointer;
}

/* -----------MEDIA QUERY----------- */

@media (min-width: 768px) {
    .container{
        width: 70%;
        position: relative;
        border: none;   
    }

    .movil{
    display: none;
    }

    .hero{
        background-image: url(../../assets/images/virus.svg);
    height: 20em;
    background-size: cover;
    background-position: center center;

        margin: 0 auto;
    }

    .intro{
        width: 600px;
        height: 153px;
        margin: 3em auto;
        color: #3A4276;
        font-size: 1.5em;
    }

    .textoIntro{
        margin-left: 2em;
    }

    .buttons{
        display: flex;
        flex-direction: row;
        margin: 5em auto;
        justify-content: center;
        padding-left: 0;
        font-size: .7em
    }

    #register{
        margin-right: 1em;
    }

    #login{
        margin-right: 1em;
    }
 }